<mat-card>
  <h3>Register</h3>
  <mat-form-field>
    <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToRegister.username">
    <div><br>{{usernameMessage}}</div>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" placeholder="E-Mail" name="email" [(ngModel)]="userEmail">
    <div><br>{{emailMessage}}</div>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToRegister.password" (ngModelChange)="checkPassword()">
  </mat-form-field>
  <div>
    <p *ngIf="!passwordLength">Your password must contain 8 or more characters.</p>
    <p *ngIf="!passwordUpperCharacter">Your password must contain at least one uppercase character.</p>
    <p *ngIf="!passwordLowerCharacter">Your password must contain at least one lowercase character.</p>
    <p *ngIf="!passwordSpecialCharacter">Your password must contain at least one special character.</p>
    <p *ngIf="!passwordNumber">Your password must contain at least one number.</p>
  </div>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="first name" name="first name" [(ngModel)]="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="last name" name="last name" [(ngModel)]="lastName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="street" name="street" [(ngModel)]="street">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="house number" name="house number" [(ngModel)]="houseNr">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="zip code" name="zip code" [(ngModel)]="zipCode">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="city" name="city" [(ngModel)]="city">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="date" placeholder="birthday" name="date of birth" [(ngModel)]="birthday">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="phone number" name="phone number" [(ngModel)]="phoneNr">
  </mat-form-field>
  <br>
  <button mat-flat-button color="primary" (click)="registerUser()" [disabled]="!checkPassword()">Register</button>
</mat-card>

<mat-card>
  <h3>Login</h3>

  <div *ngIf="!loggedIn">
    <mat-form-field>
      <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToLogin.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToLogin.password">
    </mat-form-field>
    <p style="color:red" *ngIf="passwordWrong"> Password wrong</p>
    <p style="color:red" *ngIf="userNameWrong"> Username not found</p>

    <button mat-flat-button color="primary" (click)="loginUser()">Login</button>
  </div>

  <div *ngIf="loggedIn">
    <button mat-flat-button color="warn" (click)="logoutUser()">Logout</button>
  </div>
</mat-card>

<mat-card>
  <h3>Secure Endpoints</h3>
  <button mat-flat-button color="primary" (click)="accessUserEndpoint()">User Endpoint</button>
  {{ endpointMsgUser }}
  <hr>
  <button mat-flat-button color="primary" (click)="accessAdminEndpoint()">Admin Endpoint</button>
  {{ endpointMsgAdmin }}
</mat-card>
