<mat-card>
  <h3>Register</h3>
  <mat-form-field>
    <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToRegister.username">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToRegister.password">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" placeholder="email" name="email" [(ngModel)]="userEmail">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="first name" name="first name" [(ngModel)]="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="last name" name="last name" [(ngModel)]="lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="street" name="street" [(ngModel)]="street">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="house number" name="house number" [(ngModel)]="houseNr">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="zip code" name="zip code" [(ngModel)]="zipCode">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="city" name="city" [(ngModel)]="city">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" placeholder="birthday" name="date of birth" [(ngModel)]="birthday">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="phone number" name="phone number" [(ngModel)]="phoneNr">
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="registerUser()">Register</button>
  <p style="color:red" *ngIf="passwordTooShort"> Password too Short </p>
  <p style="color: red" *ngIf="noUpperCase"> Password does not contain Uppercase Character </p>
  <p style="color: red" *ngIf="noLowerCase"> Password does not contain Lowercase Character </p>
  <p style="color: red" *ngIf="noSpecialChar"> Password does not contain Special Character </p>
  <p style="color: red" *ngIf="noNumbers"> Password does not contain Numbers </p>
</mat-card>

<mat-card>
  <h3>Login</h3>

  <div *ngIf="!loggedIn">
    <mat-form-field>
      <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToLogin.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToLogin.password">
    </mat-form-field>
    
    <p style="color: red" *ngIf="wrongPassword"> Password incorrect </p>
    <p style="color: red" *ngIf="wrongLogin"> User not found </p>

    <button mat-flat-button color="primary" (click)="loginUser()">Login</button>
  </div>

  <div *ngIf="loggedIn">
    <button mat-flat-button color="warn" (click)="logoutUser()">Logout</button>
  </div>
</mat-card>

<mat-card>
  <h3>Secure Endpoints</h3>
  <button mat-flat-button color="primary" (click)="accessUserEndpoint()">User Endpoint</button>
  {{ endpointMsgUser }}
  <hr>
  <button mat-flat-button color="primary" (click)="accessAdminEndpoint()">Admin Endpoint</button>
  {{ endpointMsgAdmin }}
</mat-card>
