.background {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/images/nationalbank.jpg);
    background-size: cover;
}

.container {
    margin-top: 50px;
    display: flex;
    /* border: solid 1px black; */
    width: 30vw;
    height: 50vh;
    justify-content: center;
    align-self: center;
    background-color: aliceblue;
    flex-direction: column;
    border-radius: 10px;
}

.form {
    display: flex;
    /* border: solid 1px red; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.mat-form-field {
    width: 75%;
}


