<mat-card>
  <h3>Login</h3>

  <div *ngIf="!loggedIn" >
    <form (ngSubmit)="loginUser()">
      <mat-form-field>
        <input matInput type="text" placeholder="Username or E-mail" name="name" [(ngModel)]="userToLogin.username" id="usernameInput">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToLogin.password" id="passwordInput">
      </mat-form-field>
      <p style="color:red" *ngIf="passwordWrong"> Password wrong</p>
      <p style="color:red" *ngIf="userNameWrong"> Username not found</p>
      <button type="submit" mat-flat-button color="primary" >Login</button>
      <br>
      <span id="emptyUser" style="visibility: hidden">Please enter your username or email</span>
      <span id="emptyPassword" style="visibility: hidden">Please enter your password</span>
    </form>




    <br>
    <p>
      Don't have an account yet? <a routerLink="/register">Register</a>
    </p>

  </div>

  <div *ngIf="loggedIn">
    <button mat-flat-button color="warn" (click)="logoutUser()">Logout</button>
  </div>
</mat-card>

<!--<mat-card>-->
<!--  <h3>Secure Endpoints</h3>-->
<!--  <button mat-flat-button color="primary" (click)="accessUserEndpoint()">User Endpoint</button>-->
<!--  {{ endpointMsgUser }}-->
<!--  <hr>-->
<!--  <button mat-flat-button color="primary" (click)="accessAdminEndpoint()">Admin Endpoint</button>-->
<!--  {{ endpointMsgAdmin }}-->
<!--</mat-card>-->
