<div id="comment">
  <div id="commentHeader">
    <p> Posted &#183; by {{authorName}} &#183; {{comment.timeSince}} ago
      <span class="example-spacer"></span>
      <button mat-flat-button color="accent" (click)="confirmDeleteComment()" *ngIf="user?.userId === comment.userId || user?.isAdmin">
        Delete Comment
      </button>
    </p>
    
  </div>
  <div id="commentText" [innerHTML]="comment.description"></div>
</div>

<!-- <mat-card>
  <div>
    <mat-card-subtitle>
      {{comment.createdAt.toDateString()}}, {{comment.createdAt.toLocaleTimeString()}}<br>
      <b>{{authorName}}: </b>
    </mat-card-subtitle>
    {{comment.description}}<br><br>
    <button mat-flat-button color="warn" (click)="confirmDeleteComment()" *ngIf="user?.userId === comment.userId || user?.isAdmin">
      Delete Comment
    </button>

  </div>
</mat-card> -->
