body {
  margin: 30px;

  -ms-overflow-style: none;
  scrollbar-width: none;

}

body::-webkit-scrollbar {
    display: none;
}

.mat-card {
  margin: 20px 0;
  background-color: #EEE;
}

button, input {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mat-form-field-wrapper {
  margin-right: 25px !important;
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}