<mat-card>
    <mat-form-field>
        <input matInput placeholder="Post Title" [(ngModel)]="newPostTitle" title="title">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Post Description" [(ngModel)]="newPostDescription" title="description">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Post Tags, comma separated" [(ngModel)]="newPostTags" title="tags">
    </mat-form-field>
    <p *ngIf="loggedIn">
        <button mat-flat-button color="primary" (click)="createPost()" [disabled]="newPostTitle === ''">Create new post</button>
        <a routerLink="/editor"><button>Create Post</button></a>
    </p>
    <p *ngIf="!loggedIn">
        <a routerLink="/login">Please log in to create Post</a>
    </p>

  </mat-card>
<mat-form-field appearance="fill">
  <mat-label>Sort by:</mat-label>
  <mat-select [(ngModel)]="sortBy"(ngModelChange)="sortPosts()">
    <mat-option value="title">Title</mat-option>
    <mat-option value="id">ID</mat-option>
  </mat-select>
</mat-form-field>
<div *ngFor="let post of postList">
  <mat-card>
        {{post.title}} <span style="display: inline-block;">&nbsp;</span>  {{post.description}} <br>
      <a [routerLink]="['post', post.postId]"> Preview </a>
  </mat-card>
</div>
