<mat-card>
    <!-- <mat-form-field>
        <input matInput placeholder="Post Title" [(ngModel)]="newPostTitle" title="title">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Post Description" [(ngModel)]="newPostDescription" title="description">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Post Tags, comma separated" [(ngModel)]="newPostTags" title="tags">
    </mat-form-field> -->
    <p *ngIf="loggedIn">
        <a routerLink="/home/post/-1"><button>Create Post</button></a>
    </p>
    <p *ngIf="!loggedIn">
        <a routerLink="/login">Please log in to create Post</a>
    </p>

  </mat-card>
<mat-form-field appearance="fill">
  <mat-label>Sort by:</mat-label>
  <mat-select [(ngModel)]="sortBy"(ngModelChange)="sortPosts()">
    <mat-option value="title">Title</mat-option>
    <mat-option value="id">ID</mat-option>
    <mat-option value="recent">most recent</mat-option>
    <mat-option value="oldest">oldest</mat-option>
    <mat-option value="upvotes">Upvotes</mat-option>
    <mat-option value="downvotes">Downvotes</mat-option>
    <mat-option value="tags">Tags</mat-option>
    <mat-option value="total">Total Votes</mat-option>

  </mat-select>
</mat-form-field>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let post of postList">

    <!-- <mat-card> -->
    <div> <mat-chip-list><mat-chip>{{post.tags}}</mat-chip></mat-chip-list><br><br><br><br><br><br><br>
          {{post.title}} <span style="display: inline-block;">&nbsp;</span>

        <a [routerLink]="['post', post.postId]"> View </a><br><br>
    <mat-icon>thumb_up</mat-icon>{{post.upvotes}}<span style="margin-left: 20px"></span>
    <mat-icon>thumb_down</mat-icon> {{post.downvotes}}
    <!-- </mat-card> -->
    </div>
  </mat-grid-tile>

</mat-grid-list>
<!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->
