<mat-card>
    <!-- <mat-form-field>
        <input matInput placeholder="Post Title" [(ngModel)]="newPostTitle" title="title">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Post Description" [(ngModel)]="newPostDescription" title="description">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Post Tags, comma separated" [(ngModel)]="newPostTags" title="tags">
    </mat-form-field> -->
    <p *ngIf="loggedIn">
        <a routerLink="/home/post/-1"><button mat-flat-button color="primary">Create Post</button></a>
    </p>
    <p *ngIf="!loggedIn">
      Please<a routerLink="/login"> log in </a>to create a Post
    </p>

  </mat-card>
<mat-form-field appearance="fill">
  <mat-label>Sort by:</mat-label>
  <mat-select [(ngModel)]="sortBy"(ngModelChange)="sortPosts()">
<!--    <mat-option value="title">Title</mat-option>-->
<!--    <mat-option value="id">ID</mat-option>-->
    <mat-option value="recent">Newest</mat-option>
    <mat-option value="oldest">Oldest</mat-option>
    <mat-option value="upvotes">Upvotes</mat-option>
    <mat-option value="downvotes">Downvotes</mat-option>
<!--    <mat-option value="tags">Tags</mat-option>-->
    <mat-option value="total">Score</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Category:</mat-label>
  <mat-select [(ngModel)]="selectedCategory" (ngModelChange)="selectPosts()">
    <mat-option value="Restaurant">Restaurant</mat-option>
    <mat-option value="Coffeeshop">Coffeeshop</mat-option>
    <mat-option value="Shopping">Shopping</mat-option>
    <mat-option value="Sightseeing">Sightseeing</mat-option>
    <mat-option value="Museum">Museum</mat-option>
    <mat-option value="University">University</mat-option>
    <mat-option value="all">Show All</mat-option>
  </mat-select>
</mat-form-field>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let post of selectedPosts">
    <app-post [post]="post"
              [preview]="true"
              [postId]="post.postId"></app-post>
  </mat-grid-tile>

</mat-grid-list>
<!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->
