<div class="background">
    <div class="container" color="accent">
        <h1>
            Welcome to the Bern Fanpage
          <h3>Share your <span>{{current}}</span></h3>
        </h1>
        <span>
            <a routerLink="/postfeed"><button mat-raised-button color="primary">Browse Posts</button></a>
            <a routerLink="/fan-shop"><button mat-raised-button color="primary">Shop Fan Articles</button></a>
        </span>
    </div>

  // Link zu Register: "Join the Bärn-Fan-Community"
</div>
