
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon><a routerLink="/home">home</a></mat-icon> <span class="example-spacer"></span> <a routerLink="/login">Login</a> <span class="example-spacer"> </span> <a routerLink="/register">Register </a><span class="example-spacer"> </span><mat-icon><a routerLink="/profile">face</a></mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>


<mat-tab-group>
  <mat-tab label="Todo List Example">
    <mat-card>
      <p>not quite sure what this todo-list is even doing here</p>
      <mat-form-field>
        <input matInput placeholder="List Name" [(ngModel)]="newTodoListName" name="name">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="createList()" [disabled]="newTodoListName === ''">Create new list</button>
    </mat-card>

    <app-todo-list
      *ngFor="let todoList of todoLists"
      [todoList]="todoList"
      (update)="updateList($event)"
      (delete)="deleteList($event)"
    ></app-todo-list>
  </mat-tab>

  <mat-tab *ngIf="loggedIn" label="Profile Page">
    Profile Page
  </mat-tab>
</mat-tab-group>
