<!--<mat-card>-->
<!--  &lt;!&ndash; Input field with list name &ndash;&gt;-->
<!--  <mat-form-field>-->
<!--    <input matInput placeholder="List Name" [(ngModel)]="todoList.name" name="name" (ngModelChange)="updateList()">-->
<!--  </mat-form-field>-->
<!--  &lt;!&ndash; Button to delete list &ndash;&gt;-->
<!--  <button mat-flat-button color="warn" (click)="deleteList()" [disabled]="todoList.todoItems.length != 0">-->
<!--    Delete list-->
<!--  </button>-->

<!--  <br>-->

<!--  &lt;!&ndash; Input field for new item name &ndash;&gt;-->
<!--  <mat-form-field>-->
<!--    <input matInput placeholder="Item Name" [(ngModel)]="newTodoItemName">-->
<!--  </mat-form-field>-->
<!--  &lt;!&ndash; Button to create item &ndash;&gt;-->
<!--  <button mat-flat-button color="primary" (click)="createItem()" [disabled]="newTodoItemName === ''">Create new item</button>-->

<!--  <hr>-->

<!--  &lt;!&ndash; List of TodoItemComponents displaying all items of list &ndash;&gt;-->
<!--  <mat-list>-->
<!--    <mat-list-item *ngFor="let todoItem of todoList.todoItems">-->
<!--      <app-todo-item-->
<!--        [todoItem]="todoItem"-->
<!--        (update)="updateItem($event)"-->
<!--        (delete)="deleteItem($event)"-->
<!--      ></app-todo-item>-->
<!--    </mat-list-item>-->
<!--  </mat-list>-->

<!--  <div *ngIf="todoList.todoItems.length === 0">-->
<!--    No Todo Items available.-->
<!--  </div>-->
<!--</mat-card>-->
