@import '~@angular/material/theming';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@include mat-core();

$bern-theme-primary: mat-palette($mat-yellow);
$bern-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$bern-theme-warn: mat-palette($mat-red);

$bern-theme: mat-light-theme($bern-theme-primary, $bern-theme-accent, $bern-theme-warn);

@include angular-material-theme($bern-theme);