.file-input {
    display: none;
}


.background {
    background-color: rgb(126, 126, 126);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.background::before {
    content: "";
    background-image: url("../../../assets/images/bibliothek.jpeg");
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(50%);
}

#container {
    /* border: solid 2px turquoise; */
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(160, 159, 159);
    position: relative;
    text-align: center;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    text-decoration: underline;
}

mat-form-field#title{
    width: 60%;   
}

mat-form-field#category {
    width: 40%;
}

mat-form-field textarea {
    resize: none;
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* ----------------------------- */
/* ------View in post-feed------ */

#preview {
    display: flex;
    width: 100%;
    height: 100%;
    /* border: solid 2px red; */
    flex-direction: row;
    position: relative
}

#score {
    height: 100%;
    width: 10%;
    /* border: solid 2px blue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    margin-top: 5px;
}

#content {
    padding: 5px;
    display: flex;
    height: 100%;
    width: 80%;
    /* border: solid 2px yellow; */
    background-color: rgb(155, 155, 155);
    flex-direction: column;
}

#postInfo {
    width: 100%;
    /* border: solid 1px pink; */
    font-size: small;
    
}

.link-spanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

#title h3{
    font-weight: bold;
    word-wrap: break-word;
    font-size: 20px;
}

#description {
    overflow: hidden;
    max-height: 200px;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    /* border: solid 1px orange; */
}

#description::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 100px, rgb(155, 155, 155));
}

#suffix {
    /* border: solid 1px green; */
    margin-bottom: 10px;
    /* align-self: flex-start; */
    /* justify-self: flex-end; */
    margin-top: auto;
}

#suffix button:hover {
    background-color: transparent;
    /* position: relative; */
    z-index: 0;
}

button {
    position: relative;
    z-index: 2;
}

button:hover {
    background-color: grey;
}

.mat-upvoted {
    color: red
}

.mat-downvoted {
    color: blue
}