<div *ngIf="!preview" class="background">
  <!-- POST  -->
  <div id="scrollPost">
    <div *ngIf="!editMode" id="wholePost">
      <a [routerLink]="['/postfeed']"> <span class="link-spanner"></span> </a>
      <div  id="viewPost">
        <div id="postHeader">
          <span id="postScore">
            <button  mat-icon-button [color]="!hasUpvoted ? 'black' : 'upvoted'" (click)="votePost(1)" [disabled]="hasDownvoted||!loggedIn">
              <span class="iconify" data-icon="mdi:arrow-up-bold" data-width="30" data-height="30"></span>
            </button>
            {{post.upvotes - post.downvotes}}
            <button  mat-icon-button [color]="!hasDownvoted ? 'black' : 'downvoted'" (click)="votePost(-1)" [disabled]="hasUpvoted||!loggedIn">
              <span class="iconify" data-icon="mdi:arrow-down-bold" data-width="30" data-height="30"></span>
            </button>
          </span>
          <span id="postTitle">
            <span class="postInfo">
              <span>
              Posted in &#183; <span style="border: 1px solid black; border-radius: 4px; font-weight: 500;">{{post.tags}}</span>
                &#183; by {{authorName}} {{post.timeSince}} ago
              </span>
              <span class="toolButtons">
                <span *ngIf="user?.userId === post.userId || user?.isAdmin">
                  <button  mat-flat-button color="primary" (click)="editMode = true; this.post.images = []; loadPicturesToPost();">
                    <span class="iconify" data-icon="ant-design:edit-filled" data-width="16" data-height="16"></span>Edit Post
                  </button>
                  <button mat-flat-button color="warn" (click)="confirmDeleting(post)">
                    <span class="iconify"  data-icon="bi:trash-fill" data-width="16" data-height="16"></span>Delete Post
                  </button>
                  <button mat-flat-button color="warn" (click)="confirmFlagging()" [disabled]="hasFlagged||!loggedIn">
                    <mat-icon>flag</mat-icon>Report
                    <span *ngIf="user?.isAdmin">({{post.flags}})</span>
                  </button>
                  <button mat-flat-button color="primary" (click)="confirmUnflagging()" *ngIf="user?.isAdmin">
                    unflag post
                  </button>
                </span>
              </span>
            </span>
            <span class="title">
              <h3>
                {{post.title}}
              </h3>
            </span>
          </span>
        </div>
        <div id="postDescription" [innerHTML]="post.description"></div>
        <div *ngIf="post.imageOnly" id="image" style="display: flex; flex-direction: column; align-items: center;"></div>
        <div *ngIf="!post.imageOnly" id="image"></div>

        <div id="comments">
          <hr>
          <p style="margin-left: 20px; margin-bottom: 0; margin-top: 20px;">Commenting as {{authorName}}</p>
          <p *ngIf="!loggedIn"><a routerLink="/login">Please log in to comment</a></p>
          <quill-editor *ngIf="loggedIn" [(ngModel)]="newCommentDescription" placeholder="Tell us what you think!" [style]="editorStyle" [modules]="configComment"></quill-editor>
          <br><button mat-flat-button color="primary" (click)="createComment()" *ngIf="loggedIn">Comment</button><br>
        </div>
        <br>
        <div *ngFor="let comment of post.comments">
          <app-comment [comment]="comment"
                      (delete)="deleteComment($event)">
          </app-comment>
          <hr>
        </div>
      </div>
    </div>


    <!-- POST EDITOR -->
    <div *ngIf="editMode">

      <div id="container">
        <!-- TITLE -->
        <h1>
          {{existsInBackend ? 'Edit your' : 'Submit a'}} post
        </h1>
        <form>
          <mat-form-field appearance="fill" id="title">
            <textarea placeholder="Title" rows="{{rows}}" matInput #message maxlength="300" (ngModelChange)="countRows()" [(ngModel)]="post.title" [ngModelOptions]="{standalone: true}" required></textarea>
            <mat-error style="color: red" *ngIf="post.title==''">Please set a title.</mat-error>
          </mat-form-field>
          <!-- Categories -->
          <mat-form-field appearance="fill" id="category">
            <mat-label>Category:</mat-label>
            <mat-select [(ngModel)]="selectCategory" (ngModelChange)="findCategory()" [ngModelOptions]="{standalone: true}" >
              <mat-option value="Restaurant">Restaurant</mat-option>
              <mat-option value="University">University</mat-option>
              <mat-option value="Coffeeshop">Coffeeshop</mat-option>
              <mat-option value="Sightseeing">Sightseeing</mat-option>
              <mat-option value="Shopping">Shopping</mat-option>
              <mat-option value="Museum">Museum</mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <mat-tab-group dynamicHeight>
          <mat-tab label="Post">
            <div id="editor">
            <quill-editor [(ngModel)]="post.description" placeholder="Text (optional)" [style]="editorStyle" [modules]="config" (onEditorCreated)="getEditorInstance($event)"></quill-editor>
            </div>
          </mat-tab>
          <mat-tab label="One Image only" *ngIf="!existsInBackend">
            <div id="uploadImage">

              <span *ngIf="post.images.length == 0">
                <input type="file" class="file-input"
                (change)="onFileSelected($event, true)" #fileUpload
                accept="image/*">

                <div>
                    <button mat-raised-button color="primary" (click)="fileUpload.click()">
                        <mat-icon>image</mat-icon> Upload
                    </button>
                </div>
              </span>
              <span id="oneImage" > <!--Show Image--></span>
            </div>
          </mat-tab>
        </mat-tab-group>
        <span id="image"></span>


        <button (click)="deleteImages()">delete all images attached to this post</button>

        <button mat-flat-button (click)="existsInBackend ? save() : createPost()">{{existsInBackend ? 'Save Post':'CreatePost'}}</button>
        <mat-hint style="color:red">{{errorMessage}}</mat-hint>
        <!-- {{post.description}} -->

      </div>
    </div>
  </div>
</div>




<!-- PREVIEW -->
<div *ngIf="preview" id="preview">
  <a [routerLink]="['post', post.postId]"> <span class="link-spanner"></span> </a>
  <div id="score">
    <button  mat-icon-button [color]="!hasUpvoted ? 'black' : 'upvoted'" (click)="votePost(1)" [disabled]="hasDownvoted||!loggedIn">
      <span class="iconify" data-icon="mdi:arrow-up-bold" data-width="30" data-height="30"></span>
    </button>
    {{post.upvotes - post.downvotes}}
    <button  mat-icon-button [color]="!hasDownvoted ? 'black' : 'downvoted'" (click)="votePost(-1)" [disabled]="hasUpvoted||!loggedIn">
      <span class="iconify" data-icon="mdi:arrow-down-bold" data-width="30" data-height="30"></span>
    </button>
  </div>
  <div id="content">
    <span id="postInfo">
        <p> Posted in &#183; <span style="border: 1px solid black; border-radius: 4px; font-weight: 500;">{{post.tags}}</span>
          &#183; by {{authorName}} {{post.timeSince}} ago
        </p>
    </span>
    <span class="title">
      <h3>
        {{post.title}}
      </h3>
    </span>
    <span id="description">
      {{post.noHtmlDescription}}
    </span>
    <span *ngIf="this.loadPicture" id="imagePreview{{post.postId}}"></span>



    <span id="suffix">
      <button mat-icon-button disableRipple="true"> <mat-icon>comment</mat-icon> {{post.nrOfComments}}</button>
      <button mat-icon-button disableRipple="true"> <mat-icon>image</mat-icon> {{post.nrOfImages}}</button>
    </span>
  </div>
</div>


