<div *ngIf="!preview"><div *ngIf="!editMode">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.tags}}</mat-card-subtitle>
      <mat-card-subtitle>Created At: {{createdAtString}} by {{authorName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div [innerHTML]="post.description"></div>
        <div id="image"></div> 
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="votePost(1)" [disabled]="hasDownvoted">UPVOTES: {{post.upvotes}}</button>
      <button mat-flat-button color="primary" (click)="votePost(-1)" [disabled]="hasUpvoted">DOWNVOTES: {{post.downvotes}}</button>
      <span *ngIf="user?.userId === post.userId || user?.isAdmin">
        <button  mat-flat-button color="primary" (click)="editMode = true">EDIT</button>
        <a routerLink="/home"> <button mat-flat-button color="warn" (click)="deletePost(post)">delete post</button></a>
      </span>
      <br><br>
      <input matInput type="text" placeholder="Comment" name="Comment" [(ngModel)]="newCommentDescription">
      <br><br>
      <button mat-flat-button color="primary" (click)="createComment()">COMMENT</button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-card>
  <div *ngFor="let comment of post.comments">
    <app-comment [comment]="comment"
                 (delete)="deleteComment($event)">
    </app-comment>
  </div>
</mat-card>

<div *ngIf="editMode">

  <div class="container">

    <!-- TITLE -->
    <form class="title-form">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput #message maxlength="256" [(ngModel)]="post.title" [ngModelOptions]="{standalone: true}">
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field><mat-form-field appearance="fill">

      <!-- CATEGORY -->
      <mat-label>Category:</mat-label>
      <mat-select [(ngModel)]="selectCategory"(ngModelChange)="findCategory()"[ngModelOptions]="{standalone: true}" >
        <mat-option value="restaurant">Restaurant</mat-option>
        <mat-option value="university">University</mat-option>
        <mat-option value="coffeeshop">Coffeeshop</mat-option>
        <mat-option value="sightseeing">Sightseeing</mat-option>
        <mat-option value="shopping">Shopping</mat-option>
        <mat-option value="museum">Museum</mat-option>
      </mat-select>
    </mat-form-field><span id="setTitle" style="visibility: hidden">Please set a title. </span>
      <span id="setCategory" style="visibility: hidden"> Please set a category.</span>

    <!-- UPLOAD IMAGE -->
    <input type="file" class="file-input" multiple accept="image/*"
       (change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload">

      {{fileName || "No Images uploaded yet."}}

        <button mat-mini-fab color="primary" class="upload-btn"
          (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
    </div>
    
    </form>

    

    <!-- DESCRIPTION -->
    <br><br>
    <angular-editor id="editor1" [(ngModel)]="post.description" [config]="config1" (ngModelChange)="onChange($event)"
                    (blur)="onBlur($event)"></angular-editor>
    <p class="html">
      HTML Output:  {{ post.description }}
    </p>

    <span id="image"></span>

    <button *ngIf="existsInBackend" (click)="save()">Save</button>
    <button *ngIf="!existsInBackend" (click)="createPost()">Create</button>
  </div>

</div></div>


<div *ngIf="preview"><!-- <mat-card> -->
  <div> <mat-chip-list><mat-chip>{{post.tags}}</mat-chip></mat-chip-list><br><br><br><br><br><br><br>
    {{post.title}} <span style="display: inline-block;">&nbsp;</span>

    <a [routerLink]="['post', post.postId]"> View </a><br><br>
    <button (click)="votePost(1)" [disabled]="hasDownvoted"><mat-icon>thumb_up</mat-icon></button>{{post.upvotes}}<span style="margin-left: 20px"></span>
    <button (click)="votePost(-1)" [disabled]="hasUpvoted"><mat-icon>thumb_down</mat-icon></button> {{post.downvotes}}
    <!-- </mat-card> -->
  </div></div>
