<!--&lt;!&ndash; Input field with item name &ndash;&gt;-->
<!--<mat-form-field>-->
<!--  <input matInput placeholder="Item Name" [(ngModel)]="todoItem.name" name="name" (ngModelChange)="updateItem()">-->
<!--</mat-form-field>-->

<!--&lt;!&ndash; Checkbox for item status &ndash;&gt;-->
<!--<mat-checkbox [(ngModel)]="todoItem.done" (ngModelChange)="updateItem()">Done</mat-checkbox>-->

<!--&lt;!&ndash; Button to delete item &ndash;&gt;-->
<!--<button mat-flat-button color="warn" (click)="deleteItem()">Delete Item</button>-->
