<mat-card>
  <h1>{{changedUser.username}}</h1>
  <mat-form-field>
    <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="changedUser.username" (ngModelChange)="updateUsernameMessage()">
    <div><br>{{usernameMessage}}</div>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" placeholder="E-Mail" name="email" [(ngModel)]="userEmail" (ngModelChange)="updateEmailMessage()">
    <div><br>{{emailMessage}}</div>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="first name" name="first name" [(ngModel)]="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="last name" name="last name" [(ngModel)]="lastName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="street" name="street" [(ngModel)]="street">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="house number" name="house number" [(ngModel)]="houseNr">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="zip code" name="zip code" [(ngModel)]="zipCode">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="city" name="city" [(ngModel)]="city">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="date" placeholder="birthday" name="date of birth" [(ngModel)]="birthday">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="phone number" name="phone number" [(ngModel)]="phoneNr">
  </mat-form-field>
  <br>
  <button mat-flat-button color="primary" (click)="updateUser(changedUser)">Update User Data</button>
  <p>{{updateMessage}}</p>
</mat-card>


<mat-card>
  <mat-tab-group>
    <mat-tab label="My Posts"><app-post-feed [feedType]="'created'"></app-post-feed></mat-tab>
    <mat-tab label="Upvoted"><app-post-feed [feedType]="'upvoted'"></app-post-feed></mat-tab>
    <mat-tab label="Downvoted"><app-post-feed [feedType]="'downvoted'"></app-post-feed></mat-tab>
    <mat-tab label="Commented"><app-post-feed [feedType]="'commented'"></app-post-feed></mat-tab>
    <mat-tab label="My Orders">
      <mat-form-field appearance="fill">
        <mat-label>Status:</mat-label>
        <mat-select [(ngModel)]="selectedStatus" (ngModelChange)="filterBy(selectedStatus)">
          <mat-option value="Pending">Pending</mat-option>
          <mat-option value="Shipped">Shipped</mat-option>
          <mat-option value="Cancelled">Cancelled</mat-option>
          <mat-option value="all">Show All</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngFor="let order of selectedOrders">
        <app-order [order]="order"
                   (update)="updateOrder($event)"></app-order>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
