<mat-card>
  <h1>{{changedUser.username}}</h1>
  <mat-form-field>
    <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="changedUser.username" (ngModelChange)="updateUsernameMessage()">
    <div><br>{{usernameMessage}}</div>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" placeholder="E-Mail" name="email" [(ngModel)]="userEmail" (ngModelChange)="updateEmailMessage()">
    <div><br>{{emailMessage}}</div>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="first name" name="first name" [(ngModel)]="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="last name" name="last name" [(ngModel)]="lastName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="street" name="street" [(ngModel)]="street">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="house number" name="house number" [(ngModel)]="houseNr">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="zip code" name="zip code" [(ngModel)]="zipCode">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="city" name="city" [(ngModel)]="city">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="date" placeholder="birthday" name="date of birth" [(ngModel)]="birthday">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="phone number" name="phone number" [(ngModel)]="phoneNr">
  </mat-form-field>
  <br>
  <button mat-flat-button color="primary" (click)="updateUser(changedUser)">Update User Data</button>
  <p>{{updateMessage}}</p>
</mat-card>


<mat-card>
  <mat-tab-group>
    <mat-tab label="My Posts"><app-my-posts></app-my-posts></mat-tab>
    <mat-tab label="Upvoted"><app-upvoted-posts></app-upvoted-posts></mat-tab>
    <mat-tab label="Downvoted"><app-downvoted-posts></app-downvoted-posts></mat-tab>
    <mat-tab label="Commented"><app-commented-posts></app-commented-posts></mat-tab>
  </mat-tab-group>
</mat-card>
