<div *ngIf=!redirecting class="background">
  <mat-card>
    <app-product [productId]="productId"
                 [orderFormView]="true" [preview]="false"></app-product>
  </mat-card>

  <mat-card>
    <h3>Payment Options</h3>
    <mat-radio-group [(ngModel)]="paymentType">
      <mat-radio-button class="example-margin" value="invoice">Invoice</mat-radio-button>
      <mat-radio-button class="example-margin" value="stripe">Stripe</mat-radio-button>
    </mat-radio-group>

    <h3>Shipping Details</h3>
    <span style="color: red">{{missingFirstName}}</span>
    <mat-form-field>
      <input matInput type="text" placeholder="first name" name="first name" [(ngModel)]="orderFirstName">
    </mat-form-field>

    <span style="color: red">{{missingLastName}}</span>
    <mat-form-field>
      <input matInput type="text" placeholder="last name" name="last name" [(ngModel)]="orderLastName">
    </mat-form-field>

    <br>

    <span style="color: red">{{missingStreet}}</span>
    <mat-form-field>
      <input matInput type="text" placeholder="street" name="street" [(ngModel)]="orderStreet">
    </mat-form-field>

    <span style="color: red">{{missingHouseNr}}</span>
    <mat-form-field>
      <input matInput type="text" placeholder="house number" name="house number" [(ngModel)]="orderHouseNr" (ngModelChange)="updateHouseNrMessage()">
      <mat-hint style="color: red" *ngIf="houseNrMessage!=''">{{houseNrMessage}}</mat-hint>
    </mat-form-field>

    <br>

    <span style="color: red">{{missingZipCode}}</span>
    <mat-form-field>
      <input matInput type="text" placeholder="zip code" name="zip code" [(ngModel)]="orderZipCode" (ngModelChange)="updateZipCodeMessage()">
      <mat-hint style="color: red" *ngIf="zipCodeMessage!=''">{{zipCodeMessage}}</mat-hint>
    </mat-form-field>

    <span style="color: red">{{missingCity}}</span>
    <mat-form-field>
      <input matInput type="text" placeholder="city" name="city" [(ngModel)]="orderCity">
    </mat-form-field><br>

    <span style="color: red">{{missingPhoneNumber}}</span>
    <mat-form-field>
      <input matInput type="text" placeholder="phone number" name="phone number" [(ngModel)]="orderPhoneNr" (ngModelChange)="updatePhoneNrMessage()">
      <mat-hint style="color: red" *ngIf="phoneNrMessage!=''">{{phoneNrMessage}}</mat-hint>
    </mat-form-field>
    <br>
    <mat-hint style="color: red"> {{errorMessage}} </mat-hint>
  </mat-card>

  <br>
  <p>
    <button mat-flat-button color="primary" (click)="confirmOrder()" > Confirm Order </button>
  </p>
</div>

<div *ngIf="redirecting">
  <h1>redirecting to secure payment site...</h1>
</div>

