
<div *ngIf="!preview && !orderFormView" class="background">
  <!-- POST  -->
  <div id="scrollProduct">
    <div *ngIf="!editMode" id="wholeProduct">
      <a [routerLink]="['/fan-shop']"> <span class="link-spanner"></span> </a>
      <div  id="viewProduct">
        <div id="productHeader">
          <span id="productTitle">
            <span class="productInfo">
              <span>
              Posted in &#183; <span style="border: 1px solid black; border-radius: 4px; font-weight: 500;">{{product.tags}}</span>
              </span>
              <span class="toolButtons">
                <span *ngIf="user?.isAdmin">
                  <button  mat-flat-button color="primary" (click)="editMode = true; loadPicturesToProduct()">
                    <span class="iconify" data-icon="ant-design:edit-filled" data-width="16" data-height="16"></span>Edit Product
                  </button>
                  <button mat-flat-button color="warn" (click)="confirmDeleting(product)">
                    <span class="iconify"  data-icon="bi:trash-fill" data-width="16" data-height="16"></span>Delete Product
                  </button>
                </span>
              </span>
            </span>
            <span>
              <span style="font-weight: bold; font-size: 20px">
                {{product.title}}
              </span>
            </span>
          </span>
        </div>
        <div id="productDescription" [innerHTML]="product.description"></div>
        <div id="image" style="padding-left: 20px"></div>
        <div id="buyProduct" >
        <span style="display: inline-block" style="padding: 8px; border: 1px solid black">{{product.price}} CHF</span>
        <mat-card-actions style="display: inline-block">
        <button mat-flat-button color="primary" (click) = "checkLoggedIn()" *ngIf="!user?.isAdmin" style="display: inline-block">
          <span class="iconify" data-icon="mdi:cart" data-width="16" data-height="16"></span> Buy now
        </button >
        </mat-card-actions></div>
      </div>
    </div>





<div *ngIf="editMode">

  <div id="container">
    <!-- TITLE -->
    <h1>
      {{existsInBackend ? 'Edit this' : 'Submit a'}} Product
    </h1>
    <form>

      <mat-form-field appearance="fill" id="title">
        <mat-label>Title</mat-label>
        <textarea placeholder="Title" rows="{{rows}}" matInput #message maxlength="300"
                  (ngModelChange)="countRows()"
                  [(ngModel)]="product.title"
                  [ngModelOptions]="{standalone: true}"></textarea>
        <mat-hint style="color: red" *ngIf="showTitleError">Please set a title.</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill" id="price">
        <mat-label>Price CHF</mat-label>
        <input title= "Price" placeholder="Price" matInput
                  (ngModelChange)="invalidPrice()"
                  [(ngModel)]="product.price"
                  [ngModelOptions]="{standalone: true}">
        <mat-hint style="color: red" *ngIf="showPriceError">Please set a price.</mat-hint>
      </mat-form-field>
      <!-- Categories -->
      <mat-form-field appearance="fill" id="category">
        <mat-label>Category:</mat-label>
        <mat-select [(ngModel)]="selectCategory" (ngModelChange)="findCategory()" [ngModelOptions]="{standalone: true}" >
          <mat-option value="Restaurant">Restaurant</mat-option>
          <mat-option value="University">University</mat-option>
          <mat-option value="Coffeeshop">Coffeeshop</mat-option>
          <mat-option value="Sightseeing">Sightseeing</mat-option>
          <mat-option value="Shopping">Shopping</mat-option>
          <mat-option value="Museum">Museum</mat-option>
        </mat-select>
        <mat-hint style="color: red" *ngIf="showCategoryError">Please set a category.</mat-hint>
      </mat-form-field>
    </form>

    <quill-editor [(ngModel)]="product.description" placeholder="Text (optional)" [style]="editorStyle" [modules]="config" (onEditorCreated)="getEditorInstance($event)"></quill-editor>
    <span id="image"></span>

    <div class=buttons>
      <button mat-flat-button (click)="deleteImages()">delete all images attached to this product</button>
      <button mat-flat-button (click)="existsInBackend ? save() : createProduct()">{{existsInBackend ? 'Save Product':'CreateProduct'}}</button>
    </div>

  </div>
</div>
  </div>
</div>


<div *ngIf="!missingProduct">
<div *ngIf="preview && !orderFormView" id="preview">
  <a [routerLink]="['/fan-shop/product', product.productId]"> <span class="link-spanner"></span> </a>
  <div id="score" > {{product.price}} CHF
  </div>
  <div id="content">
    <span id="productInfo">
        <p> Posted in &#183; <span style="border: 1px solid black; border-radius: 4px; font-weight: 500;">{{product.tags}}</span>
        </p>
    </span>
    <span class="title">
      <h3>
        {{product.title}}
      </h3>
    </span>
  </div>
</div>

</div>
<div *ngIf="orderFormView" id="orderFormView">
  <a [routerLink]="['/fan-shop/product', product.productId]"> <span class="link-spanner"></span> </a>
  <span style="border-right: 1px solid black; padding-right: 10px">{{product.title}}</span>
  <span style="padding-left: 5px"> {{product.price}} CHF</span>
</div>


